<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LastAccessedDate</key>
	<date>2022-05-28T15:42:23Z</date>
	<key>WorkspacePath</key>
	<string>/Users/junbok/Desktop/Swift/fastcampus/Basic/COVID19/COVID19.xcworkspace</string>
</dict>
</plist>
